.myTabs > li {
	border: "1px solid black";
	background-color: lightgray;
}

.myTabs > li > button {
	color: black;
	border: "1px solid black";
}
/* a a:hover a:focus { color: black;} */
.amyTabs ul > li > a {
	background-color: rgb(138, 191, 138);
	color: darkgreen;
}
.amyTabs ul > li > a:hover {
	background-color: lightgreen;
	color: black;
}

/* Active tab */
.myTabs ul > li.active > a,
.myTabs ul > li.active > a:hover,
.myTabs ul > li.active > a:focus {
	background-color: green;
	color: black;
}

h1 h2 h3 h4 h5 h6 {
	background-color: blue;
}
